.loadPrompt {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.toolbar {
  grid-area: toolbar;
  padding: .5em;
  height: 4em;
  box-sizing: border-box;

  .stats {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
  }
  .actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    align-items: center;
  }
}

.sources {
  grid-area: sources;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;

  .grid {
    flex-grow: 1;
    overflow: auto;
  }

  .differEmpty {
    padding: .5em;
  }

  .differ {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;

    .diffActions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
      padding: .5em;

      button[aria-selected=true] {
        &::after {
          display: block;
          content: "(you have chosen this)";
        }
      }
    }
    .diffViewer {
      border-radius: 0;
    }
  }

}


.verdictCell {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .verdictSummary {
    min-width: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }
  .verdictButton {
    flex-shrink: 0;
  }
}

.valueUndefined,
.valueNull,
.valueEmptyString {
  opacity: .5;
}
