import os

def env(name, default=None):
    return os.environ.get(name, default)

output_dir = env('PGOUTPUT', './out')
data_dir = env('PGDATA', './data')

db_name = env('PGDATABASE', 'isoregistry')
db_user = env('PGUSER', env('USER', 'isoreg'))
db_password = env('PGPASSWORD', 'isoreg')
db_host = env('PGHOST', '127.0.0.1')
db_port = env('PGPORT', '5433')
